@use '@/common/variables' as *;
@use '@/common/function' as func;

.hero{

}

.wrapper{
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.imageFull{
  img{
    width: 100%;
    height: auto;
  }
}

.bottom{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
}
.text{
  font-size: func.fluid(31, 26, 1920, 1440);
  font-weight: 400;
  color: $accent-color;
  line-height: 140%;
}