@use '@/common/variables' as *;
@import "@/common/templates";

.textLink {
  @extend %seventeen-semibold-template;
  text-decoration: none;
  transition: all 0.2s;

  &:hover {
    color: $accent-color;
    transition: all 0.2s;
    transform: none;
    box-shadow: none;
  }
}