@use '@/common/variables' as *;
@use "@/common/templates" as *;

.textButton {
  @extend %seventeen-semibold-template;
  text-decoration: none;
  transition: all 0.2s;
  color: $accent-color;

  &:hover {
    opacity: 0.6;
    transition: all 0.2s;
  }
}