@use '@/common/variables' as *;
@use '@/common/null';
@use '@/common/container';
@use '@/common/fonts';

html {
  background: $white-color;
}

body {
  font-family: $font;
}

.wrapper {
  min-height: 100%;

  display: flex;
  flex-direction: column;

  overflow: clip;
  //overflow: hidden;
  //contain: paint;

  // Прижимаем footer
  > main {
    flex: 1 1 auto;
  }
}