@use '@/common/variables' as *;
@use '@/common/null';
@use '@/common/container';
@use '@/common/fonts';

html {
  background: $white-color;
  overflow: hidden;
  height: 100%;
}

body {
  font-family: $font;
  overflow: hidden;
  height: 100%;
}

.wrapper {
  min-height: 100vh;

  display: flex;
  flex-direction: column;

  > main {
    flex: 1 1 auto;
  }
}