@mixin font($font_name, $file_name, $weight, $style) {
    @font-face {
        font-family: $font_name;
        font-display: swap;
        src: url("./fonts/#{$file_name}.woff2") format("woff2"), url("./fonts/#{$file_name}.woff") format("woff");
        font-weight: #{$weight};
        font-style: #{$style};
    }
}

//  загружает шрифт (@font-face): сообщает браузеру, где лежат woff/woff2 файлы и какой у них weight

@include font("Proxima Nova", "ProximaNova-Light", "300", "normal");
@include font("Proxima Nova", "ProximaNova-Regular", "400", "normal");
@include font("Proxima Nova", "ProximaNova-Semibold", "600", "normal");
@include font("Proxima Nova", "ProximaNova-Bold", "700", "normal");
