@use '@/common/function' as func;
@use '@/common/variables' as *;


%seventeen-semibold-template {
  @include func.fluid-bp(font-size, (1920, 320), 17, 13);
  line-height: normal;
  letter-spacing: 0;
  font-weight: 600;
  color: $dark-color;
}
%fifteen-semibold-template {
  @include func.fluid-bp(font-size, (1920, 320), 15, 12);
  line-height: normal;
  letter-spacing: 0.07em;
  font-weight: 600;
  color: $dark-color;
}
%twelve-regular-template {
  @include func.fluid-bp(font-size, (1920, 320), 12, 10);
  line-height: normal;
  letter-spacing: 0.02em;
  font-weight: 400;
  color: $dark-color;
}
