@use '@/common/mixins';
@use '@/common/variables' as *;


%seventeen-semibold-template {
  @include mixins.adaptiveValue('font-size', 17, 13);
  line-height: normal;
  letter-spacing: 0;
  font-weight: 600;
  color: $dark-color;
}
%fifteen-semibold-template {
  @include mixins.adaptiveValue('font-size', 15, 12);
  line-height: normal;
  letter-spacing: 0.07em; //7% от текущего размера шрифта
  font-weight: 600;
  color: $dark-color;
}
